<include file = '.\Application\Msu\View\base.html'/>
<div id="page-wrapper">
<div class="container-fluid"> 
    <div class="row">
        <h1 class="page-header">校园网用户管理</h1>
    </div>
<div class="row">
<div class="col-md-12">
<!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#add_client" role="tab" data-toggle="tab">添加用户</a></li>
        <li role="presentation"><a href="#search_client" role="tab" data-toggle="tab">用户查询</a></li>
        <li role="presentation"><a href="#search_service" role="tab" data-toggle="tab">服务查询</a></li>
        <li role="presentation"><a href="#wege_payment" role="tab" data-toggle="tab">查询工资代扣用户</a></li>
    </ul>
       
        
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="add_client">
          <div class="container-fluid" style="margin-top: 50px">
            <div class="col-xs-12">
            <div style="margin-bottom: 10px" class="col-md-4 col-md-offset-4">
                <form class="form-horizontal" role="form" method="post" action="__CONTROLLER__/add_client">
                    <div class="form-group">
                        <label class="control-label col-md-2">用户姓名</label>
                        <div class="col-md-10">
                            <input type="text" name="name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">单位名称</label>
                        <div class="col-md-10">
                            <input type="text" name="danwei" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">用户类型</label>
                        <div class="col-md-10">
                            <select class="form-control" name="type">
                                <option>免费</option>
                                <option>办公</option>
                                <option>家庭</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">楼号</label>
                        <div class="col-md-10">
                           <select class="form-control" name="building">
                            <volist name="build1" id="build1">
                                <option value="<{$build1.id}>"><{$build1.name}></option>
                            </volist>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">住址</label>
                        <div class="col-md-10">
                            <input type="text" name="address" class="form-control" placeholder="如：教1-1-101 ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">电话</label>
                        <div class="col-md-10">
                            <input type="text" name="number" class="form-control" placeholder="只能填写数字">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">E-mail</label>
                        <div class="col-md-10">
                            <input type="text" name="mail" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-6">
                        <button type="submit" class="btn btn-primary form-control" >
                            <span>添加</span>
                        </button>
                    </div>
                </form>
            </div>
          </div>
          </div>
          </div>
        
        <div role="tabpanel" class="tab-pane fade" id="search_service">
          <div class="container-fluid">
              <div style="margin-top: 50px" class="col-md-4 col-md-offset-4">
              <form class="form-horizontal" method="post" action="__CONTROLLER__/search_service">
                  <div class="form-group">
                      <label class="control-label col-md-2">姓名</label>
                      <div class="col-md-10">
                          <input type="text" name="name" class="form-control">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-md-2">单位名称</label>
                      <div class="col-md-10">
                          <input type="text" name="danwei" class="form-control">
                      </div>
                  </div>
                  <div class="form-group">
                        <label class="control-label col-md-2">楼号</label>
                        <div class="col-md-10">
                           <select class="form-control">
                                <option value="">------- 全部 ------</option>
                                <volist name="build2" id="build2">
                                <option value="<{$build2.id}>"><{$build2.name}></option>
                                </volist>
                            </select>
                        </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-2">到期查询</label>
                        <div class="input-group col-md-10 col-md-offset-2">
                            <span class="input-group-addon glyphicon glyphicon-calendar">&nbsp;起始日期</span>
                            <input class="form-control" type="text" name="start" id="start" placeholder="如：1970-1-1">
                        </div>
                  </div>
                  <div class="form-group">
                        <div class="input-group col-md-10 col-md-offset-2">
                            <span class="input-group-addon glyphicon glyphicon-calendar" >&nbsp;终止日期</span>
                            <input class="form-control" type="text" name="finish" id="finish" placeholder="如：1970-1-1">
                        </div>
                  </div>
                  <div class="col-md-offset-2 col-md-6">
                        <button type="submit" class="btn btn-primary form-control">
                            <span>查询</span>
                        </button>
                    </div>
              </form>
              </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="wege_payment">
          <div class="container-fluid">
              <div style="margin-top: 50px" class="col-md-4 col-md-offset-4">
              <form class="form-horizontal" method="post" action="__CONTROLLER__/search_wege">
                  <div class="form-group">
                      <label class="control-label col-md-2">姓名</label>
                      <div class="col-md-10">
                          <input type="text" name="name" class="form-control">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-md-2">单位名称</label>
                      <div class="col-md-10">
                          <input type="text" name="danwei" class="form-control">
                      </div>
                  </div>
                  <div class="form-group">
                        <label class="control-label col-md-2">楼号</label>
                        <div class="col-md-10">
                           <select class="form-control">
                                <option>------- 全部 ------</option>
                            </select>
                        </div>
                  </div>
                  
              </form>
              </div>
          </div>
        </div>
      </div><!--tab-content-->
</div><!--col-md-12-->
</div><!--row-->
</div><!--container-fluid-->
</div><!--page-wrapper-->
    <!-- jQuery -->
    <script src="__PUBLIC__/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="__PUBLIC__/js/plugins/morris/raphael.min.js"></script>
    <script src="__PUBLIC__/js/plugins/morris/morris.min.js"></script>
    <script src="__PUBLIC__/js/plugins/morris/morris-data.js"></script>
    <!-- 日期时间选择器 -->
    <script src="__PUBLIC__/js/foundation-datepicker.js"></script>
    <script src="__PUBLIC__/js/locales/foundation-datepicker.zh-CN.js"></script>
    <script>
        $('#start').fdatepicker({
            format: 'yyyy-mm-dd'
        });
        $('#finish').fdatepicker({
            format: 'yyyy-mm-dd'
        });
    </script>

</body>

</html>
