<include file = '.\Application\Msu\View\base.html'/>

        <div id="page-wrapper">

            <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header">MSU用户</h1>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#adduser">添加用户</button>
                  <!-- Modal -->
                  <div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <!-- Modal Header -->
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">
                                     <span aria-hidden="true">&times;</span>
                                     <span class="sr-only">Close</span>
                                   </button>
                                  <h4 class="modal-title">添加用户</h4>
                              </div>
                                
                              <!-- Modal Body -->
                              <div class="modal-body">
                                  <form class="form-horizontal" role="form" action="__CONTROLLER__/user_create" method="post">
                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">姓名</label>
                                          <div class="col-sm-10">
                                              <input type="text" class="form-control" placeholder="姓名" name="name">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">账号</label>
                                          <div class="col-sm-10">
                                              <input type="text" class="form-control" placeholder="账号" name="account">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">密码</label>
                                          <div class="col-sm-10">
                                              <input type="text" class="form-control" placeholder="密码" name="password">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">学院</label>
                                          <div class="col-sm-10">
                                              <input type="text" class="form-control " placeholder="学院" autocomplete="off" name="organization" id="add-organization">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">校区</label>
                                          <div class="col-sm-10">
                                              <select class="selectpicker" name="location">
                                                  <option value="西" selected = selected>西校区</option>
                                                  <option value="东">东校区</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">用户组</label>
                                          <div class="col-sm-10">
                                              <!--<input type="text" class="form-control" name="gid">-->
                                              <!--TODO 此地方写死-->
                                              <select class="selectpicker" name="gid">
                                                  <option value="维护员" selected = selected>维护员</option>
                                                  <option value="学院管理员">学院管理员</option>
                                                  <option value="缴费管理员">缴费管理员</option>
                                                  <option value="超级管理员">超级管理员</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">联系方式</label>
                                          <div class="col-sm-10">
                                              <input type="tel" class="form-control" name="numbers">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">属性</label>
                                          <div class="col-sm-10">
                                              <input type="text" class="form-control" placeholder="属于哪一届" name="level">
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-sm-12 col-sm-offset-2">
                                              <button type="submit" class="btn btn-primary">提交</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                  <form class="form-inline" action="__CONTROLLER__/search" method="post">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="输入姓名搜索" name="name">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                  </form>
                </div>
              </div>
              </br>
              <div class="row">
                  <ul id="myTab" class="nav nav-tabs">
                      <li class="active">
                          <a href="#xixiao" data-toggle="tab">西校区</a>
                      </li>
                      <li>
                          <a href="#dongxiao" data-toggle="tab">东校区</a>
                      </li>
                  </ul>

                  <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade in active" id="xixiao">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                              <tr>
                                <th>序号</th>
                                <th>姓名</th>
                                <th>账号</th>
                              
                                <th>学院</th>
                                <th>用户组</th>
                                <th>联系方式</th>
                                <th>属性</th>
                                <th>操作</th>
                              </tr>
                            </thead>
                            <tbody>
                              <volist name="data" id="vo">
                                <tr>
                                  <td><{$vo.uid}></td>
                                  <td><{$vo.name}></td>
                                  <td><{$vo.account}></td>
    
                                  <td><{$vo.organization}></td>
                                  <td><{$vo.gid}></td>
                                  <td><{$vo.numbers}></td>
                                  <td><{$vo.level}></td>
                                  <td>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#edit<{$vo.uid}>">修改</button>
                                    <div class="modal fade" id="edit<{$vo.uid}>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <!-- Modal Header -->
                                          <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">
                                                 <span aria-hidden="true">&times;</span>
                                                 <span class="sr-only">Close</span>
                                               </button>
                                              <h4 class="modal-title" id="myModalLabel">修改</h4>
                                          </div>
                                          <!-- Modal Body -->
                                          <div class="modal-body">
                                            <form class="form-horizontal" role="form" action="__CONTROLLER__/user_update" method="post">
                                                <div class="form-group">
                                                    <input type="hidden" name='uid' value="<{$vo.uid}>"/><br><!-- 隐藏UID -->
                                                    <label class="col-sm-2 control-label">姓名</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" placeholder="姓名" name="name" value="<{$vo.name}>">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">账号</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" placeholder="账号"  name="account" value="<{$vo.account}>">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label ">学院</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" autocomplete="off" placeholder="学院"  name="organization" value="<{$vo.organization}>" id="modify-organization">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">校区</label>
                                                    <div class="col-sm-10">
                                                        <select class="selectpicker" name="location">
                                                            <option value="西" selected = selected>西校区</option>
                                                            <option value="东">东校区</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">用户组</label>
                                                    <div class="col-sm-10">
                                                        <!--<input type="text" class="form-control" name="gid">-->
                                                        <!--TODO 此地方写死-->
                                                        <select class="selectpicker" name="gid">
                                                            <option value="维护员" selected = selected>维护员</option>
                                                            <option value="学院管理员">学院管理员</option>
                                                            <option value="缴费管理员">缴费管理员</option>
                                                            <option value="超级管理员">超级管理员</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">联系方式</label>
                                                    <div class="col-sm-10">
                                                        <input type="tel" class="form-control" value="<{$vo.numbers}>"  name="numbers">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">属性</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" placeholder="属于哪一届" value="<{$vo.level}>"  name="level">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12 col-sm-offset-2">
                                                        <button type="submit" class="btn btn-primary">提交修改</button>
                                                    </div>
                                                </div>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#delete">删除</button>
                                    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <!-- Modal Header -->
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                               <span aria-hidden="true">&times;</span>
                                               <span class="sr-only">Close</span>
                                             </button>
                                            <h4 class="modal-title" id="myModalLabel">删除</h4>
                                          </div>
                                          <div class="modal-body">
                                            <form class="form-horizontal" role="form">
                                              <div class="form-group">
                                                  <label class="col-xs-10 col-xs-offset-2">输入删除该人员的姓名</label>
                                                  <div class="col-xs-8 col-xs-offset-2">
                                                      <input type="text" class="form-control" placeholder="姓名">
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="col-sm-12 col-sm-offset-2">
                                                      <a href="__CONTROLLER__/user_del/uid/<{$vo.uid}>"><button type="button" class="btn btn-danger" >确认删除</button></a>
                                                  </div>
                                              </div>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                </volist>
                              </tbody>
                            
                        </table>
                      </div>
                      <div class="tab-pane fade" id="dongxiao">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                              <tr>
                                <th>姓名</th>
                                <th>账号</th>
                                <th>用户组</th>
                                <th>联系方式</th>
                                <th>属性</th>
                                <th>操作</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <!-- <td>吕炳辰</td>
                                <td>SB</td>
                                <td>维护员</td>
                                <td>85170110</td>
                                <td>SB</td>
                                <td></td> -->
                              </tr>
                            </tbody>
                        </table>
                      </div>
                  </div>
              </div>
            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="__PUBLIC__/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap3-typeahead.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="__PUBLIC__/js/plugins/morris/raphael.min.js"></script>
    <script src="__PUBLIC__/js/plugins/morris/morris.min.js"></script>
    <script src="__PUBLIC__/js/plugins/morris/morris-data.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<script>

    //@Billgo-------------------------------------
    //TODO 修改url方法
    var server = "__MODULE__";
    var $addOrganization = $('#add-organization');
    var $modifyOrganization = $('#modify-organization');
    var ajaxSearch = {
        source:function(query,process){
            $.ajax({
                type: "GET",
                url:server+"/user/getOrganization",
                async: false,
                data: {keyword:query},
                dataType:"json",
                success:function (data) {
                    var key = data;
                    var aData = [];
                    for(var i=0;i<key.length;i++){
                        if(key[i].organization!==""){
                            aData.push(key[i].organization);
                        }
                    }
                    //将返回的数据传递给实现搜索输入框的输入提示js类
                    process(aData);
                }
            });
        }
    };
    $addOrganization.typeahead(ajaxSearch);
    $modifyOrganization.typeahead(ajaxSearch);
    //---------------------------------------------
</script>
</body>

</html>
