<include file = '.\Application\Msu\View\base.html'/>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            缴费记录查询
                            <small><{$Think.get.dnsname}>.ujn.edu.cn</small>
                        </h1>
                    </div>
                </div>
                <!-- 警示弹框 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-success alert-dismissable fade in hidden" onclick="$(this).attr('class','alert alert-success alert-dismissable fade in hidden');">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle" id="tip"></i>
                        </div>
                    </div>
                </div>
                <!-- 表单 -->
                <div class="row">
                    <div class="col-lg-12">
                    <empty name="data">
                            <center><h2>暂无缴费记录</h2></center>
                    <else />
                       <table class="table">
                           <thead>
                               <tr>
                                   <th>域名</th>
                                   <th>生效时间</th>
                                   <th>失效时间</th>
                                   <th>填写时间</th>
                                   <th>缴费金额</th>
                                   <th>登记人</th>
                               </tr>
                           </thead>
                           <tbody>
                                <volist name="data" id="data">
                                    <tr>
                                        <td><{$data.dns}>.ujn.edu.cn</td>
                                        <td><{$data.start_time}></td>
                                        <td><{$data.end_time}></td>
                                        <td><{$data.edit_time}></td>
                                        <td><{$data.money}></td>
                                        <td><{$data.user}></td>
                                    </tr>
                                </volist>
                        </empty>
                           </tbody>
                       </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="__PUBLIC__/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
   
</body>

</html>