<!DOCTYPE html>
<html lang="zh">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>济南大学MSU</title>

    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUBLIC__/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="__PUBLIC__/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__PUBLIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="__MODULE__/Weihu/weihu_list">济南大学MSU</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>  <{$Think.session.name}> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> 设置</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="__MODULE__/login/loginout"><i class="fa fa-fw fa-power-off"></i> 注销</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" style="background: #EEEEEE">
                    <li>
                        <a href="__MODULE__/weihu/weihu_list"><i class="fa fa-fw fa-wrench"></i> 维护工作记录</a>
                        <ul>
                            <li>
                                <a href="__MODULE__/weihu/weihu_add">增加维护记录</a>
                            </li>
                            <li>
                                <a href="__MODULE__/weihu/weihu_list">查询未完成记录</a>
                            </li>
                            <li>
                                <a href="__MODULE__/weihu/weihu_list_yes">查询已完成记录</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="__MODULE__/count"><i class="fa fa-fw fa-bar-chart-o"></i> 工作量统计</a>
                    </li>
                    <li>
                        <a href="__MODULE__/sign"><i class="fa fa-fw fa-bar-chart-o"></i> 值班签到</a>
                    </li>

                    <li>
                        <a href="__MODULE__/user"><i class="fa fa-fw fa-bar-chart-o"></i> MSU用户管理</a>
                    </li>
                    <li>
                        <a href="__MODULE__/Ip/root_display"><i class="fa fa-fw fa-bar-chart-o"></i> IP段分配</a>
                    </li>
                    <li>
                        <a href="__MODULE__/web/web_list"><i class="fa fa-fw fa-bar-chart-o"></i> 网站缴费管理</a>
                    </li>
                    <li>
                        <a href="__MODULE__/admin"><i class="fa fa-fw fa-bar-chart-o"></i> 信息管理</a>
                    </li>
                    <!--  <li>
                        <a href="__MODULE__/msu"><i class="fa fa-fw fa-bar-chart-o"></i> 校园用户管理</a>
                            <ul>
                                <li>
                                    <a href="__MODULE__/msu/add_client_view">添加校园网用户</a>
                                </li>
                                <li>
                                    <a href="__MODULE__/msu/search_client_view">查询校园网用户</a>
                                </li>
                                <li>
                                    <a href="__MODULE__/msu/search_service_view">查询校园网服务</a>
                                </li>
                                <li>
                                    <a href="__MODULE__/msu/wege_payment">查询工资代扣用户</a>
                                </li>
                                <li>
                                    <a href="__MODULE__/msu/transform">用户缴费转移</a>
                                </li>
                            </ul>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">网站缴费管理</h1>
                    </div>
                </div>
                <!-- 警示弹框 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-success alert-dismissable fade in hidden" onclick="$(this).attr('class','alert alert-success alert-dismissable fade in hidden');">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle" id="tip"></i>
                        </div>
                    </div>
                </div>
                <!-- 显示表格 -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>网站名称</th>
                                        <th>网站域名</th>
                                        <th>负责人</th>
                                        <th>联系电话</th>
                                        <th>填写日期</th>
                                        <th>服务开始日期</th>
                                        <th>服务结束日期</th>
                                        <th>缴费金额</th>
                                        <th>缴费类型</th>
                                        <th>备注</th>
                                        <th>登记人</th>                                        <
                                    </tr>
                                </thead>
                                <tbody>
                                    <volist name='data' id="data">
                                        <tr>
                                            <td>
                                                <{$data.bmmc}>
                                            </td>
                                            <td>
                                                <a href="http://<{$data.dnsname}>.ujn.edu.cn"><{$data.dnsname}>.ujn.edu.cn</a>
                                            </td>
                                            <td>
                                                <{$data.whyxm}>
                                            </td>
                                            <td>
                                                <{$data.whybgdh}>
                                            </td>
                                            <td>
                                                <{$data.xxxgrq}>
                                            </td>
                                            <td>
                                                <{$data.}>
                                            </td>
                                        </tr>
                                    </volist>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="__PUBLIC__/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="__PUBLIC__/js/plugins/morris/raphael.min.js"></script>
    <script src="__PUBLIC__/js/plugins/morris/morris.min.js"></script>
    <script src="__PUBLIC__/js/plugins/morris/morris-data.js"></script>

</body>

</html>