<include file = '.\Application\Msu\View\base.html'/>
<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">未完成维护</h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success alert-dismissable fade in hidden" onclick="$(this).attr('class','alert alert-success alert-dismissable fade in hidden');">
                    <button  type="button" class="close" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle" id="tip"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table  table-hover table-striped">
                        <thead>
                            <tr>
                                <th>维护地点</th>
                                <th>电话</th>
                                <th>姓名</th>
                                <th>故障说明</th>
                                <th>维护地点说明</th>
                                <th>登记时间</th>
                                <th>登记员</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name='list' id='vo'>
                                <tr>
                                    
                                    <td><a href="__CONTROLLER__/client_record/id/<{$vo.id}>"><{$vo.building}><{$vo.unit}><{$vo.room}></a></td>
                                    <td><{$vo.numbers}></td>
                                    <td><{$vo.client}></td>
                                    <td><{$vo.note}></td>
                                    <td><{$vo.location}></td>
                                    <td><{$vo.register_time}></td>
                                    <td><{$vo.adder}></td>
                                    <td>
                                        <button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#modal<{$vo.id}>">填写<span class="glyphicon glyphicon-pencil"></span></button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modal<{$vo.id}>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                         <span aria-hidden="true">&times;</span>
                                                         <span class="sr-only">Close</span>
                                                     </button>
                                                     <h4 class="modal-title" id="myModalLabel"><{$vo.building}><{$vo.unit}><{$vo.room}></h4>
                                                 </div>

                                                 <!-- Modal Body -->
                                                 <div class="modal-body">
                                                    <form class="form-horizontal" role="form" action="__CONTROLLER__/weihu_save" method="post">
                                                        <div class="form-group">
                                                          <label class="col-sm-2 control-label">维护人员</label>
                                                          <div class="col-sm-10">
                                                            <div class="checkbox">
                                                              <div class="row">
                                                                <div class="col-xs-10">
                                                                    <volist name='users' id='user'>
                                                                        
                                                                        <label>
                                                                          <input type="checkbox" name='completer[]' value="<{$user.uid}>" />  <{$user.name}>&nbsp;&nbsp;&nbsp;
                                                                      </label>
                                                                      
                                                                  </volist>  
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                <label class="col-sm-2 control-label">是否完成</label>
                                                <div class="col-sm-10">
                                                  <label>
                                                      <input type="radio" name="status" value="完成"> 完成
                                                  </label>
                                                  <label>
                                                      <input type="radio" name="status" value="未完成"/> 未完成
                                                  </label>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                            <label class="col-sm-2 control-label">维护类型</label>
                                            <div class="col-sm-10">
                                                <volist name='types' id='type'>
                                                  <label>
                                                      <input type="radio" name="type" value='<{$type.id}>'> <{$type.type}> &nbsp; &nbsp;&nbsp;
                                                  </label>
                                              </volist>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">解决方案</label>
                                        <div class="col-sm-10">
                                            <textarea name="solution" class="form-control" rows="5" id="comment"></textarea>
                                        </div>
                                    </div>
                                    <input type="hidden" name="rid" value="<{$vo.id}>">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary tianxie" data-dismiss="modal">提交</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add<{$vo.id}>">说明<span class="glyphicon glyphicon-plus"></span>
                </button>
                <div class="modal fade" id="add<{$vo.id}>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                 <span aria-hidden="true">&times;</span>
                                 <span class="sr-only">Close</span>
                             </button>
                             <h4 class="modal-title" id="ModalLabel"><{$vo.building}><{$vo.unit}><{$vo.room}></h4>
                         </div>

                         <!-- Modal Body -->
                         <div class="modal-body">
                            <form class="form-horizontal" role="form" action="__CONTROLLER__/note_save" method="post">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">补充故障说明</label>
                                    <div class="col-sm-10">
                                      <textarea name="note" class="form-control" rows="5" id="comment"><{$vo.note}></textarea>
                                  </div>
                              </div>
                              <input type="hidden" name="rid" value="<{$vo.id}>">
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary buchong" data-dismiss="modal">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-danger btn-sm delete " disabled="disabled" data-toggle="modal" data-target="#delete<{$vo.id}>" data-dismiss="modal">删除<span class="glyphicon glyphicon-trash"></span></button>
        <!--Modal-->
        <div class="modal fade" id="delete<{$vo.id}>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                         <span aria-hidden="true">&times;</span>
                         <span class="sr-only">Close</span>
                     </button>
                     <h4 class="modal-title" id="ModalLabel"><{$vo.building}><{$vo.unit}><{$vo.room}></h4>
                 </div>

                 <!-- Modal Body -->
                 <div class="modal-body">
                    <form class="form-horizontal" role="form" action="__CONTROLLER__/weihu_delete" method="get">
                        <div class="col-md-offset-3"> <h3>确认删除该条维护记录吗？</h3></div>
                        <input type="hidden" name="rid" value="<{$vo.id}>">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary shanchu" data-dismiss="modal">确认</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</td>
</tr>
</volist>
</tbody>
</table>
</div>
</div>
</div>
<!--    分页    -->
<nav>
    <center>
        <ul class="pagination"><{$show}></ul>
    </center>
</nav>

<div class="row">
    <div class="col-lg-12">
        <h2>维护分析</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>今月维护</h3>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-info-circle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><{$record_count.total}></div>
                        <div>任务数</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-check-circle-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><{$record_count.done}></div>
                        <div>已完成</div>
                    </div>
                </div>
            </div>
            <a href="__MODULE__/weihu/weihu_list_yes">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exclamation-circle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><{$record_count.undone}></div>
                        <div>未完成</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

               <!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> 近期维护量</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">just now</span>
                                        <i class="fa fa-fw fa-calendar"></i> 张艺桥完成学11-110维护工作
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">4 minutes ago</span>
                                        <i class="fa fa-fw fa-comment"></i> 天才添加了维护任务
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">23 minutes ago</span>
                                        <i class="fa fa-fw fa-truck"></i> 管理员添加了新一批维护员
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">46 minutes ago</span>
                                        <i class="fa fa-fw fa-money"></i> 上个月赵志恒贪污了998
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> 工作量统计</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>姓名</th>
                                                <th>月份</th>
                                                <th>工作量</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <volist name="tops" id="tops">
                                                <tr>
                                                    <td><{$tops.name}></td>
                                                    <td><{$tops.date}></td>
                                                    <td><{$tops.counts}></td>
                                                </tr>
                                            </volist>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="__MODULE__/Count">查看全部工作量统计 <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="__PUBLIC__/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>

    <script src="__PUBLIC__/js/myself.js"></script>

    <script>
        $(function(){
            $('.tianxie').click(function(){
             var select = $(this).parents('form');
             
             submit(select,"__CONTROLLER__/weihu_submit",'POST','填写成功！');
         });
            $('.buchong').click(function(){
             var select = $(this).parents('form');
             
             submit(select,"__CONTROLLER__/note_save",'POST','填写成功！');
         });
            $('.shanchu').click(function(){
             var select = $(this).parents('form');
             
             submit(select,"__CONTROLLER__/weihu_delete",'GET','删除成功！');
         });
        });
    </script>
    <script>
        $(function(){
            if('<{$Think.session.gid}>' == '超级管理员' || '<{$Think.session.gid}>' == '缴费管理员')
                $(".delete").removeAttr("disabled");
        });
    </script>

</body>

</html>

