<include file = '.\Application\Msu\View\base.html'/>

        <div id="page-wrapper">

            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-success alert-dismissable fade in hidden" onclick="$(this).attr('class','alert alert-success alert-dismissable fade in hidden');">
                            <button  type="button" class="close" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle" id="tip"></i>
                        </div>
                    </div>
                </div>
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            IP地址管理 
                            <small><{$org}></small> 
                            <small>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#AddModal">
                                <span class="glyphicon glyphicon-plus">添加</span>
                            </button>
                            </small>
                        </h1>
                        <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                           <span aria-hidden="true">&times;</span>
                                           <span class="sr-only">Close</span>
                                         </button>
                                        <h4 class="modal-title" id="myModalLabel">添加IP分配记录</h4>
                                    </div>

                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form" action="__CONTROLLER__/assign_add" method="post">
                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">IP地址</label>
                                              <div class="col-sm-5">
                                              <input class="form-control" type="text" name="ip">
                                              </div>
                                            </div>
                                            <div class="form-group">
                                              <label class="col-sm-2 control-label">使用者</label>
                                              <div class="col-sm-5">
                                              <input class="form-control" type="text" name="user">
                                              </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">联系电话</label>
                                                <div class="col-sm-5">
                                                <input class="form-control" type="text" name="number">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">备注</label>
                                                <div class="col-sm-8">
                                                 <textarea name="note" class="form-control" rows="5" id="comment"></textarea>
                                                 </div>
                                                 <input type="hidden" name="organization" value="<{$orgid}>">
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-primary tianjia" data-dismiss="modal">
                                                <span>添加</span>
                                            </button>
                                            </div>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- /.row -->
                
                <div class="row" style="margin-top: 50px;margin-bottom: 30px">
                    <div>
                        <div class="table-responsive">
                            <table class="table table-hover"> 
                                <tr>
                                    <th>IP范围</th>
                                    <th>网关地址</th>
                                    <th>子网掩码</th>
                                </tr>
                                <tbody>
                                <volist name='range' id='ranges'>
                                    <tr  class="info">
                                        <td><{$ranges.start}> ~ <{$ranges.finish}></td>
                                        <td><{$ranges.gateway}></td>
                                        <td><{$ranges.mask}></td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                            <tr>
                                <th>IP地址</th>
                                <th>使用者</th>
                                <th>联系电话</th>
                                <th>备注（办公室地址等）</th>
                                <th>编辑</th>
                            </tr>
                            <tbody>
                                <volist name='list' id="list">
                                    <tr>
                                        <td><{$list.ip}></td>
                                        <td><{$list.user}></td>
                                        <td><{$list.number}></td>
                                        <td><{$list.note}></td>
                                        <td>
                                            <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal<{$list.id}>">编辑</button>
                                             <div class="modal fade" id="modal<{$list.id}>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                               <span aria-hidden="true">&times;</span>
                                                               <span class="sr-only">Close</span>
                                                             </button>
                                                            <h4 class="modal-title" id="myModalLabel"><{$list.ip}></h4>
                                                        </div>

                                                        <!-- Modal Body -->
                                                        <div class="modal-body">
                                                            <form class="form-horizontal" role="form" action="__CONTROLLER__/assign_update" method="post">
                                                                <div class="form-group">
                                                                  <label class="col-sm-2 control-label">使用者</label>
                                                                  <div class="col-sm-5">
                                                                  <input class="form-control" type="text" name="user" value="<{$list.user}>">
                                                                  </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">联系电话</label>
                                                                    <div class="col-sm-5">
                                                                    <input class="form-control" type="text" name="number" value="<{$list.number}>">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">备注</label>
                                                                    <div class="col-sm-8">
                                                                     <textarea name="note" class="form-control" rows="5" id="comment" value="<{$list.note}>" ></textarea>
                                                                     </div>
                                                                     <div>
                                                                        <input type="hidden" name="id" value="<{$list.id}>">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary xiugai" data-dismiss="modal">&nbsp;修改&nbsp;
                                                                </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                             <button class="btn btn-danger btn-xs delete " data-toggle="modal" data-target="#delete<{$list.id}>" data-dismiss="modal">删除<span class="glyphicon glyphicon-trash"></span></button>
                                             <!--Modal-->
                                             <div class="modal fade" id="delete<{$list.id}>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                               <span aria-hidden="true">&times;</span>
                                                               <span class="sr-only">Close</span>
                                                             </button>
                                                            <h4 class="modal-title" id="ModalLabel"><{$list.ip}></h4>
                                                        </div>

                                                        <!-- Modal Body -->
                                                        <div class="modal-body">
                                                            <form class="form-horizontal" role="form" action="__CONTROLLER__/assign_delete" method="get">
                                                            <div class="col-md-offset-3"> <h3>确认删除该条分配记录吗？</h3></div>
                                                               <input type="hidden" name="id" value="<{$list.id}>">
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                                    <button type="button" class="btn btn-primary shanchu" data-dismiss="modal">确认</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/.col-xs-12-->
                </div>
                <!--/.row--> 
                <nav>
                <center>
                <ul class="pagination"><{$show}></ul>
                </center>
                </nav>              
            </div>
            <!-- /.container-fluid -->
            </div>

        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="__PUBLIC__/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>

    <script src="__PUBLIC__/js/myself.js"></script>

    <script>
        $(function(){
            $(".tianjia").click(function(){
                var select = $(this).parents('form');
               submit(select,"__CONTROLLER__/assign_add",'POST','添加成功！');
            });
            $(".xiugai").click(function(){
                var select = $(this).parents('form');
               submit(select,"__CONTROLLER__/assign_update",'POST','修改成功！');
            });
            $(".shanchu").click(function(){
                var select = $(this).parents('form');
               submit(select,"__CONTROLLER__/assign_delete",'GET','删除成功！');
            });
        });
    </script>
</body>

</html>
